.project-quota-card {
  .badge {
    margin: -1px 3px 0 0;

  }
  .progress-description {
    .fa, .pficon {
      margin-right: 5px;
    }
  }
  .progress-unavailable {
    text-align: center;
  }
  .project-actions {
    float: right;
    margin-top: -5px;
  }
  .quota-dashboard-chart {
    display: inline-block;
  }
  .quota-donut-chart-container {
    float: left;
    height: 75px;
    position: relative;
    width: 75px;
    .quota-donut-chart-title {
      font-size: 24px;
      padding: 15px;
      position: absolute;
      text-align:center;
      top: 0;
      width: 100%;
    }
  }
}

.clickable-row {
  cursor: pointer;
}

.pending-requests-row {
  width: 100%;
}

.quota-dashboard-container {
  border-top: 1px solid @color-pf-black-400;
  bottom: 0;
  left: 0;
  padding: 35px 25px;
  position: fixed;
  right: 0;
  top: 130px;
}

.order-workflow-container {
  border-top: 1px solid @color-pf-black-400;
  bottom: 0;
  left: 0;
  overflow: auto;
  padding: 35px;
  position: fixed;
  right: 0;
  top: 76px;
  &.shaded {
    background-color: @panel-shaded;
  }
  @media(min-width: @screen-sm-min) {
    top: 96px;
  }
  .node-card {
    height: 100%;
    margin: 0;
    width: 100%;
  }
  .node-header {
    display: table;
    font-size: 24px;
    font-weight: 200;
    text-align: center;
    width: 100%;
  }

  .node-header-detail {
    display: table;
    font-size: 12px;
    height: 20px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
  }

  .node-status-icon {
    color: @color-pf-black-400;
    font-size: 42px;
    text-align: center;
    width: 100%;

    &.pficon-orders {
      color: @color-pf-green-400;
    }
  }

  .node-info-title {
    font-weight: 700;
    margin-left: 20px;
    margin-top: 10px;
  }
  .node-info-item {
    margin-left: 20px;
  }

  .node-center-icon {
    font-size: 72px;
  }
  .node-rect {
    fill: @color-pf-white;
    fill-opacity: 1.0;
    stroke-width: 0;
  }
  .node-icon {
    font-size: 76px;
  }
  .connection-line {
    fill: transparent;
    stroke-width: 4;
    stroke: @color-pf-black-500;
    &.pending {
      stroke-dasharray: 4 1;
    }
    &.approved, &.in-progress {
      stroke: @color-pf-green-400;
    }
    &.skipped {
      stroke-dasharray: 4 1;
      stroke: @color-pf-red-100;
    }
  }
  .connection-endpoint {
    fill: @color-pf-black-500;
    stroke: @color-pf-black-500;
    stroke-width: 1;
    &.approved, &.in-progress {
      fill: @color-pf-green-400;
      stroke: @color-pf-green-400;
    }
    &.skipped {
      fill: @color-pf-red-100;
      stroke: @color-pf-red-100;
    }
  }
}
