<div class="middle">
  <div class="middle-header">
    <div class="container-fluid">
      <ol class="breadcrumb">
        <li class="active">
          <a href="quotas/">Project Quotas</a>
        </li>
        <li class="active">
          <a href="{{project | projectUrl : $ctrl.baseProjectUrl}}">{{project | displayName}}</a>
        </li>
        <li>
          <strong>Pending Requests</strong>
        </li>
      </ol>
    </div>
  </div>
  <div class="middle-content order-workflow-container">
    <div>
      <table class="table table-striped table-bordered table-hover dataTable table-mobile table-layout-fixed">
        <thead>
          <tr>
            <th
              ng-class="{sorting_asc: sortId === 'request' && sortAsc,
                         sorting_desc: sortId === 'request' && !sortAsc,
                         sorting: sortId !== 'request'}"
              ng-click="updateSort('request')">
              Request
            </th>
            <th
              ng-class="{sorting_asc: sortId === 'requester' && sortAsc,
                         sorting_desc: sortId === 'requester' && !sortAsc,
                         sorting: sortId !== 'requester'}"
              ng-click="updateSort('requester')">
              Requester
            </th>
            <th
              ng-class="{sorting_asc: sortId === 'requestDate' && sortAsc,
                         sorting_desc: sortId === 'requestDate' && !sortAsc,
                         sorting: sortId !== 'requestDate'}"
              ng-click="updateSort('requestDate')">
              Request Date
            </th>
            <th
              ng-class="{sorting_asc: sortId === 'status' && sortAsc,
                         sorting_desc: sortId === 'status' && !sortAsc,
                         sorting: sortId !== 'status'}"
              ng-click="updateSort('status')">
              Approval Status
            </th>
            <th
              ng-class="{sorting_asc: sortId === 'approverName' && sortAsc,
                         sorting_desc: sortId === 'approverName' && !sortAsc,
                         sorting: sortId !== 'approverName'}"
              ng-click="updateSort('approverName')">
              Pending Approver
            </th>
            <th
              ng-class="{sorting_asc: sortId === 'approverRequest' && sortAsc,
                         sorting_desc: sortId === 'approverRequest' && !sortAsc,
                         sorting: sortId !== 'approverRequest'}"
              ng-click="updateSort('approverRequest')">
              Approval Request
            </th>
          </tr>
        </thead>
        <tbody ng-if="(pendingRequests | hashSize) == 0">
          <tr><td colspan="4"><em>There are no pending requests</em></td></tr>
        </tbody>
        <tbody ng-if="(pendingRequests | hashSize) > 0">
          <tr ng-repeat="pendingRequest in pendingRequests track by $index" ng-click="navigateTo(pendingRequest)" class="clickable-row">
            <td data-title="Request">
              <span>{{pendingRequest.serviceInstanceName}}</span>
            </td>
            <td data-title="Requester">
              <span>{{pendingRequest.requester}}</span>
            </td>
            <td data-title="Request Date">
              <span class="date">{{pendingRequest.requestTimestamp | date:'shortDate'}}</span>
              <span class="time">{{pendingRequest.requestTimestamp | date:'mediumTime'}}</span>
            </td>

            <td data-title="Approval Status">
              <span>{{pendingRequest.approvalStatus}}</span>
            </td>
            <td data-title="Pending Approver">
              <span>{{pendingRequest.approver}}</span>
            </td>
            <td data-title="Approval Request">
              <span am-time-ago="pendingRequest.approvalRequestTimestamp"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
