<div class="middle">
  <div class="middle-header">
    <div class="container-fluid">
      <ol class="breadcrumb">
        <li class="active">
          <a href="quotas/">Project Quotas</a>
        </li>
        <li class="active">
          <a href="{{project | projectUrl : baseProjectUrl}}">{{project | displayName}}</a>
        </li>
        <li class="active">
          <a href="quotas/requests/{{project.metadata.name}}">Pending Requests</a>
        </li>
        <li>
          <strong>{{requestServiceName || (service | displayName)}}</strong>
        </li>
      </ol>
    </div>
  </div>
  <div class="middle-content order-workflow-container shaded">
      <svg class="read-only"
           xmlns="http://www.w3.org/2000/svg"
           ng-attr-width="{{chart.width}}"
           ng-attr-height="{{chart.height}}">
        <g>
          <!-- Main Node Loop -->
          <g ng-repeat="node in chart.nodes" ng-attr-transform="translate({{node.x()}}, {{node.y()}})">
            <!-- Node -->
            <rect class="node-rect"
                  ry="0"
                  rx="0"
                  ng-attr-x="{{node.xOffset()}}"
                  ng-attr-y="{{node.yOffset()}}"
                  ng-attr-width="{{node.width()}}"
                  ng-attr-height="{{node.height()}}">
            </rect>

            <!-- Node -->
            <foreignobject ng-attr-x="{{node.xOffset()}}"
                           ng-attr-y="{{node.yOffset()}}"
                           ng-attr-width="{{node.width()}}"
                           ng-attr-height="{{node.height()}}">
              <div class="node-card card-pf" ng-class="{'card-pf-accented': node.nodeData('type') === 'Notified'}">
                <div class="card-pf-body">

                  <div class="node-status-icon {{node.nodeData('statusIconClass')}}"></div>

                  <div class="node-header">
                    {{node.nodeData('title')}}
                  </div>

                  <div class="node-header-detail">
                    {{node.nodeData('subTitle')}}
                  </div>

                  <div ng-if="node.nodeData('type') === 'initial'">
                    <div class="node-info-title">
                      Requester
                    </div>
                    <div class="node-info-item">
                      {{node.nodeData('requester')}}
                    </div>
                    <div class="node-info-title">
                      Request Time
                    </div>
                    <div class="node-info-item">
                      {{node.nodeData('initiatedTimestamp') | date : 'medium'}}
                    </div>
                  </div>

                  <div ng-if="node.nodeData('type') !== 'initial'">
                    <div class="node-info-title">
                      Approver Name
                    </div>
                    <div class="node-info-item">
                      {{node.nodeData('approverName')}}
                    </div>
                    <div ng-if="node.nodeData('type') !== 'Pending' && node.nodeData('type') !== 'Skipped'">
                      <div class="node-info-title">
                        Approval Request Time
                      </div>
                      <div class="node-info-item">
                        {{node.nodeData('initiatedTimestamp') | date : 'medium'}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </foreignobject>
          </g> <!--  End Nodes Loop -->

          <!-- Connections -->
          <g ng-repeat="connection in chart.connections" class="connection">
            <g>
              <path class="connection-line {{connection.classes()}}"
                    ng-attr-d="M {{connection.sourceCoordX()}}, {{connection.sourceCoordY()}}
                               L {{connection.middleCoordX()}}, {{connection.sourceCoordY()}}
                               L {{connection.middleCoordX()}}, {{connection.destCoordY()}}
                               L {{connection.destCoordX()}}, {{connection.destCoordY()}}">
              </path>
              <polygon class="connection-endpoint {{connection.classes()}}" ng-attr-points="{{connection.destEndPoints(connectorSize)}}">
              </polygon>
            </g>
          </g>
        </g>
      </svg>
  </div>
</div>
